# Basic Python

## Problem 1

You are working at a HR department and store the Employee data in a dictionary:
employee = {
    'name': 'Raj kamal',
    'eid': 1004,
    'dept': 'Tech' } 
    
Task:
Your program needs to take the key as input and output the corresponding value.

Sample Input
dept

Sample Output
Tech

In [8]:
employee = {
    'name': 'Raj kamal',
    'eid': 1004,
    'dept': 'Tech',
    'jobtile': 'Data Analysit'
} 

key=input("Enter the key: ")
#print(employee.get(key)) #print(employee[key])
#print(f"{key} is {employee[key]}")
print(" Your value of key {} is {}".format(key,employee[key]))

Enter the key: dept
 Your value of key dept is Tech

In [6]:
f"{key} is {employee[key]}"

'eid is 1004'

# String based Problem

Newlines in Strings

Task

The given code outputs python R-program SAS SQL (each language  is separated by a space).
Modify the code to output each language on a separate line, resulting in the following output:
python
R-program
SAS
SQL

In [10]:
print("python R-program SAS SQL")

python R-program SAS SQL

In [11]:
print("python\nR-program\nSAS\nSQL")

python
R-program
SAS
SQL

In [12]:
print("fist\tsecond\tthird")

fist	second	third

In [15]:
languages=str(input("enter your languages:"))
print(languages)

enter your languages:python\nR-program\nSAS\nSQL
python\nR-program\nSAS\nSQL

In [25]:
languages.replace("\\n"," ")

'python R-program SAS SQL'

In [27]:
print('python R-program SAS SQL'.replace(" ","\n"))

python
R-program
SAS
SQL

In [23]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [22]:
'python\\nR-program\\nSAS\\nSQL'.replace("\\","\")

SyntaxError: EOL while scanning string literal (1793108374.py, line 1)

In [28]:
str1='''Identifier
        variable
        function
        classs '''

In [34]:
str1.split()

['Identifier', 'variable', 'function', 'classs']

In [30]:
str1[10:21]

'\n        va'

In [36]:
t1=(10,20,30)

In [37]:
a,b,c=t1  # tuple unpack

In [41]:
float(a)

10.0

In [39]:
b

20

In [40]:
c

30

In [43]:
d1={1:'a',2:'b'}
d2={3:'c'}

In [44]:
d1|d2

{1: 'a', 2: 'b', 3: 'c'}

In [45]:
d1.update(d2)

In [46]:
d1

{1: 'a', 2: 'b', 3: 'c'}